.background-korpo {
  background-color: rgb(184, 177, 9);
}

.navbar-korpo .navbar-brand {
  color: white;
}

.navbar-korpo .navbar-brand:hover, .navbar-korpo .navbar-brand:focus {
  color: white;
}

.navbar-korpo .navbar-nav .show > .nav-link, .navbar-korpo .navbar-nav .active > .nav-link, .navbar-korpo .navbar-nav .nav-link.show, .navbar-korpo .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-korpo .navbar-nav .nav-link {
  color: white;
  font-size: larger;
}

.navbar-korpo .navbar-nav .nav-link:hover, .navbar-korpo .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-korpo .navbar-nav .nav-link .disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-korpo .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-korpo .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-korpo .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-korpo .navbar-text a {
  color: #fff;
}

.navbar-korpo .navbar-text a:hover, .navbar-korpo .navbar-text a:focus {
  color: #fff;
}

.navbar-korpo .dropdown-menu {
  background-color: transparent;
  border: none;
}

.search-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  height: 40px;
  border-radius: 40px;
  width: 240px;
}

.search-box .search-box-shadow {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  height: 40px;
  border-radius: 40px;
  width: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-box .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-box .search-txt {
  position: absolute;
  right: 0;
  border: none;
  background: none;
  color: white;
  outline: none;
  padding: 0;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 0px;
}

.search-box:hover .search-box-shadow {
  width: 240px;
  background: black;
}

.search-box:hover .search-txt {
  width: 220px;
}

.search-box:hover .search-btn {
  background-color: white;
  color: black;
}

.card.border-korpo {
  border-color: #b8b109;
}

.custom-height .card.border-korpo {
  border-color: #b8b109;
}

.custom-height .card .custom-background {
  background-position: center center;
  background-size: cover;
}

.custom-height .card .custom-background a.custom-photo-frame img {
  opacity: 0;
}

.custom-height .card .card-body .card-title {
  font-style: italic;
}

.home-background {
  background-position: center center;
  background-size: cover;
}

.custom-comments .blockquote {
  padding: 0.25rem 1rem;
  border-left: 0.25rem solid #eceeef;
}

.custom-comments .comment-reply {
  display: none;
}

/*# sourceMappingURL=styles.css.map */