{% extends "site_general/base.html" %}

{% block content %}
    <h1> Log In here </h1>
    <form method="POST" action="/accounts/login/"> {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif%}
        <input type="submit" value="Log In">
    </form>
{% endblock %}