{% extends "site_general/base.html" %}

{% block content %}
    <h1> Sign Up here </h1>
    <form method="POST" action="/accounts/signup/"> {% csrf_token %}
        {{ form }}
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}