

<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'site_general/head.html' %}
</head>
<body>
	<div class="custom-navigation background-korpo">
		{% include 'site_general/navbar.html' %}
	</div>
	<div class="custom-main-body">
		{% block content %}


		{% endblock %}
	</div>
	<div class="footer background-korpo">
		{% include 'site_general/footer.html' %}
	</div>

	<script>
		$(document).ready(function() {
			$(".comment-reply-btn").on('click', function(event){
				event.preventDefault();
				$(this).parent().next(".comment-reply").fadeToggle();
			});
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>



