{% extends "site_general/base.html" %}

{% block content %}

<div class="container">
    <div class="row">

    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}

    <form method="POST" action="."> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>

    </div>
</div>

{% endblock %}