{% load static %}


<div class="container text-white position-relative">
    <div class="row py-3 d-flex justify-content-between align-items-center">
      <div class="col-md-6 d-flex align-items-center justify-content-between pb-4 justify-content-md-start w-100">
          <div class="logo-korpo ">
              <a href="#">
                  <img class="rounded-circle" src="{% static 'site_general/img/logo_inverted150.png' %}" alt="logo">
              </a>
          </div>
          <div class="pl-5 text-decoration-none text-center text-md-left">
              <p>Kontakt:</p>
              <a class="text-white" href="mailto:korporacjusze@gmail.com">korporacjusze@gmail.com</a>
          </div>
      </div>
      <div class="col-md-6">
          <div class="form text-center text-md-right">
              <p>Podaj nam swój email, jeżeli chcesz otrzymywać<br>powiadomienia o nowych
                  wpisach</p>
              <form id="search-form" class="form-search form-horizontal">
                  <input type="text" class="input-search font-italic text-center" placeholder="email"/>
                  <button type="submit" class="btn-search font-italic">Wyślij</button>
              </form>
          </div>
      </div>
    </div>
</div>
