{% load static %}

<title>Korporacjusze | Blog</title>
<meta charset="utf-8" />

<link rel="stylesheet" href="{% static '/site_general/css/bootstrap.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/site_general/css/bootstrap-grid.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/site_general/css/theme_bootstrap.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/site_general/css/styles.css' %}" type="text/css">
<script src="https://kit.fontawesome.com/8c6899ecbd.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

<meta name="viewport" content = "width=device-width, initial-scale=1.0">