{% extends "site_general/base.html" %}
{% load static %}

{% block content %}
<div class="home-background" style="background-image: url({% static 'site_general/img/GOPR1784.JPG' %})">
    <div class="container vh-100 w-100 border border-danger d-flex justify-content-center">
        <div class="row border border-danger justify-content-center align-self-center">
            <h2 class="text-center text-white">Korporacjusze</h2>
        </div>
    </div>
</div>

{% endblock %}