{% load static %}

<div class="container">
  <nav class="navbar sticky-top navbar-expand-lg navbar-korpo pl-0 pr-0">
    <a class="navbar-brand" href="/">
      <img class="rounded-circle" src="{% static 'site_general/img/logo_inverted150.png' %}" alt="logo" style="width:70px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item pr-3">
          <a class="nav-link" href="/blog/">Blog</a>
        </li>
        <li class="nav-item pr-3">
          <a class="nav-link" href="#">O nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Kontakt</a>
        </li>
      </ul>
<!--      <form class="form-inline my-2 my-lg-0" action="/search/">-->
<!--        <input class="form-control mr-sm-2" type="search"-->
<!--               name="q" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>-->
<!--      </form>-->
      {% if user.is_authenticated %}
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-sign-in-alt"></i>
          </button>
          <div class="dropdown-menu change-dropdown-menu dropdown-menu-right dropdown-menu-transparent" aria-labelledby="dropdownMenuLogout">
            <form class="logout-link" method="POST" action="/accounts/logout/">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Wyloguj</button>
              {% if user.is_staff %}
                <button type="submit" class="btn btn-warning">
                  <a href="/blog-create-post/">Dodaj post</a>
                </button>
              {% endif %}
            </form>
          </div>
        </div>
      {% else %}
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-sign-in-alt"></i>
          </button>
          <div class="dropdown-menu change-dropdown-menu dropdown-menu-right dropdown-menu-transparent" aria-labelledby="dropdownMenu2">
            <button type="submit" class="btn btn-warning float-right"><a href="/accounts/login/">Zaloguj</a></button>
            <button type="submit" class="btn btn-warning float-right"><a href="/accounts/signup/">Zarejestruj</a></button>
          </div>
        </div>
      {% endif %}
    </div>
  </nav>
</div>
