{% extends "site_general/base.html" %}

{% block content %}
    <div class="custom-button-group-list pt-4 pb-3">
        {% include 'blog/post_navigation.html' %}
    </div>

    <div class="container">
        <div class="row">
            {% for post in object_list %}
                <div class="col-md-6 col-lg-4 custom-height pb-3">
                    {% include 'blog/post_single_data.html' with truncate=True detail=False %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}