{% extends "site_general/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load comments_custom_tags %}

{% block content %}
<div class="container min-vh-100">
    <div class="row">
        <div class="col custom-height pb-3">
            {% with post=object %}
                {% include 'blog/post_single_data.html' with post=object detail=True truncate=False %}
            {% endwith %}
        </div>
        {% if request.user.is_authenticated %}
            {% if request.user.is_staff %}
                <div class="col-12 pb-3 d-flex justify-content-end">
                    <a href="{{ object.get_absolute_url }}/edit/">
                        <span class="badge badge-primary badge-pill text-white p-2">Edytuj</span>
                    </a>
                    <a href="{{ object.get_absolute_url }}/delete/">
                        <span class="badge badge-primary badge-pill text-white p-2">Usuń</span>
                    </a>
                </div>
            {% endif%}
        {% endif %}
        <div class="col custom-comments">
            {% if request.user.is_authenticated %}
                <p class="lead">Komentarze</p>
                <form method="POST" action="."> {% csrf_token %}
                    {{ comment_form|crispy }}
                    <input type="submit" value="Wyślij komentarz" class="btn btn-primary">
                </form>
                <hr/>
            {% endif %}
            {% for comment in comments %}
                <blockquote class="blockquote bl-1">
                    <p class="mb-0">{{ comment.content }}</p>
                    <footer class="blockquote-footer">
                        {{ comment.user }} |
                        {{ comment.timestamp|timesince }} ago |
                        {% if comment.children.count > 0 %}
                            {{ comment.children.count }}
                                {% if comment.children.count > 1 %}
                                    {{ comment|verbose_name_plural }}
                                {% else %}
                                    {{ comment|verbose_name }}
                                {% endif %}|
                        {% endif %}
                        <a class="comment-reply-btn" href="#">
                            <span class="badge badge-primary badge-pill text-white p-2">Pokaż / Odpowiedz</span>
                        </a>
                    </footer>
                    <div class="comment-reply">
                        {% for child_comment in comment.children %}
                            <blockquote class="blockquote">
                                <p class="mb-0">{{ child_comment.content }}</p>
                                <footer class="blockquote-footer small">
                                    {{ child_comment.user }} |
                                    {{ child_comment.timestamp|timesince }} ago |
                                </footer>
                            </blockquote>
                        {% endfor %}
                        {% if request.user.is_authenticated %}
                            <form method="POST" action="."> {% csrf_token %}
                                {{ comment_form|crispy }}
                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                <input type="submit" value="Odpowiedz na komentarz" class="btn btn-primary">
                            </form>
                        {% endif %}
                    </div>
                </blockquote>
                <hr/>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}