{% extends "site_general/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>Create new blog post</h3>
    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}

    <form method="POST" action="." enctype="multipart/form-data"> {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Add</button>
    </form>
    <script src="/static/blog/js/slugify.js"></script>

{% endblock %}