{% load static %}

<div class="card border-korpo mt-3 {% if not post.published %} bg-dark text-light {% endif %}">
    {% if post.image %}
    <div class="custom-background" style="background-image: url({{ post.image.url }})">
        <a href="{{ post.get_absolute_url }}" class="custom-photo-frame">
            <img src="{% static 'blog/img/sample_size_photo_frame.png' %}" class="card-img-top img-fluid image-overflow"/>
        </a>
    </div>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title text-center">{{ post.title }}</h5>
        <p class="card-text text-center">
            <small class="text-muted">{{ post.published|date:"Y-m-d"  }}</small>
            {% if truncate %}
                {{ post.content|linebreaks|truncatewords:20}}
            {% else %}
                {{ post.content|linebreaks}}
            {% endif %}
        </p>
        {% if not detail %}
            {% if not post.published %} Draft {% endif %}
            <a href="{{ post.get_absolute_url }}" class="font-korpo">
                <span class="badge badge-primary badge-pill text-white p-2">Zobacz</span>
            </a>
        {% endif %}
    </div>
</div>