<div class="container d-flex flex-column flex-md-row align-items-center justify-content-xl-between">
    <div class="custom-button-group w-100">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary border-0 mr-3 mt-2">
                    <a href="#" class="d-flex justify-content-start align-items-center text-white">
                        Wszystkie<span class="badge badge-light badge-pill ml-3">14</span>
                    </a>
                </button>
                <button type="button" class="btn btn-primary border-0 mr-3 mt-2">
                    <a href="#" class="d-flex justify-content-start align-items-center text-white">
                        Polska<span class="badge badge-light badge-pill ml-3">14</span>
                    </a>
                </button>
                <button type="button" class="btn btn-primary border-0 mr-3 mt-2">
                    <a href="#" class="d-flex justify-content-start align-items-center text-white">
                        Europa<span class="badge badge-light badge-pill ml-3">14</span>
                    </a>
                </button>
                <button type="button" class="btn btn-primary border-0 mr-3 mt-2">
                    <a href="#" class="d-flex justify-content-start align-items-center text-white">
                        Inne kontynenty<span class="badge badge-light badge-pill ml-3">14</span>
                    </a>
                </button>
                <button type="button" class="btn btn-primary border-0 mr-3 mt-2">
                    <a href="#" class="d-flex justify-content-start align-items-center text-white">
                        Różne<span class="badge badge-light badge-pill ml-3">14</span>
                    </a>
                </button>
            </div>
        </div>
    </div>
    <div class="search-box align-self-end mt-2">
        <div class="search-box-shadow"></div>
        <input class="search-txt" type="search" name="q" placeholder="Szukaj..." aria-label="Search"/>
        <button class="search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>